.mobile-homepage-main {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 9154px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

